[Application]
name=Wiesiek 4
version=0.2
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=main:main
#icon=myapp.ico

[Python]
version=3.6.0
bitness=64
format=bundled

[Include]
# Importable packages that your application requires, one per line
packages= characters
    game
	menu
	modals
	pyxel
	score
	test_pyxel
	viewport

pypi_wheels= pygame==1.9.3

# Other files and folders that should be installed
files = resources/
	tmp/ > $LOCALAPPDATA
